{% extends 'layout.twig' %}
{% block content %}
    {% for video in videos %}
        <div class="media well">
            <a class="pull-left" href="#">
                <img src="{{asset('images/download.png')}}" class="img-rounded media-object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ video.title }}</h4>
                <p>{{ video.desc }}</p>
                <ul class="nav nav-pills">
                  <li><a class="btn" href="{{ url('video', {id: video.id}) }}">Watch Now</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <em>No Videos Found</em>
    {% endfor %}
{% endblock %}