{% extends 'layout.twig' %}

{% block content %}
<h3>{{ video.title }}</h3>
  <div class="flowplayer" data-swf="{{ asset('flow/flowplayer.swf') }}" data-embed="false">
    <video src="{{ asset(video.path) }}">
    </video>
  </div>
  <div class="row">
  	<div class="span12">
  		<h4> Description </h4>
  		<p>{{ video.desc }}</p>
  	</div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ asset('flow/flowplayer.min.js') }}"></script>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset('flow/skin/minimalist.css') }}" />
{% endblock %}