{% extends 'layout.twig' %}
{% block content %}
    {% for nit in nits %}
        <div class="media well">
            <a class="pull-left" href="#">
                <img src="{{asset('images/download.png')}}" class="img-rounded media-object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ nit.name }}</h4>
                <p>{{ nit.desc }}</p>
                <ul class="nav nav-pills">
                  <li><a href="{{ url('nit.persons', {location: nit.location}) }}">Persons</a></li>
                  <li><a href="{{ url('nit.videos', {location: nit.location}) }}">Videos</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <em>No Nits Found</em>
    {% endfor %}
{% endblock %}