{% extends 'layout.twig' %}
{% block content %}
    {% for person in persons %}
        <div class="media well">
            <a class="pull-left" href="#">
                <img src="{{asset('images/download.png')}}" class="img-rounded media-object">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ person.name }}</h4>
                <p>{{ person.desc }}</p>
                <ul class="nav nav-pills">
                  <li><a href="{{ url('person.videos', {id: person.id}) }}">Videos</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <em>No Persons Found</em>
    {% endfor %}
{% endblock %}