{% extends 'layout.twig' %}
{% block content %}
    <div class="row">
        <div class="span5 offset4">
            <h4> {{ person.name }} </h4>
            <img src="{{asset('images/download.png')}}" class="img-rounded">
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <h4> About </h4>
            <p> {{ person.name }} is an alumnus of <em>{{ nit.name }}</em> </p>
            <div class="row">
                <div class="span12">
                    {{ person.desc }}
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h4> Videos </h4>
                    <ul class="thumbnails">
                    {% for video in videos %}
                        <li class="span4">
                            <div class="thumbnail">
                                <img src="{{ asset('images/download.png') }}" alt="">
                                <div class="caption">
                                    <h4>{{ video.title }}</h4>
                                    <p>{{ video.desc }}</p>
                                    <p><a href="{{ url('video',{ id: video.id }) }}" class="btn btn-primary">Watch Now</a></p>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <em> No Videos </em>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}