<!DOCTYPE html>
<html>
  <head>
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <style type="text/css">

      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #footer-push,
      #footer {
        height: 60px;
      }
      #footer .container {
        border-top: 1px solid #EEEEEE;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .container .credit {
        margin: 20px 0;
      }
    </style>
      {% block css %}
      {% endblock css %}
  </head>
  <body>
    <div id="wrap">
      <div class="container">
        <div class="page-header">
          <h1>NIT Talks <small>A ConnectNit Initiative</small></h1>
        </div>
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <ul class="nav">
              <li {% if active is defined and active == 'home' %}class="active" {% endif %}><a href="{{ url('index') }}">Home</a></li>
              <li {% if active is defined and active == 'nits' %}class="active" {% endif %}><a href="{{ url('nits') }}">NITs</a></li>
              <li {% if active is defined and active == 'persons' %}class="active" {% endif %}><a href="{{ url('persons') }}">Persons</a></li>
              <li {% if active is defined and active == 'videos' %}class="active" {% endif %}><a href="{{ url('videos') }}">Videos</a></li>
            </ul>
          </div>
        </div>
        {% block content %}
        {% endblock %}
      </div>
      <div id="footer-push"></div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">Webteam <a href="http://www.connectnit.org">ConnectNit</a>.</p>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined')
    {
        document.write(unescape("%3Cscript src='{{ asset('js/jquery.js') }}' type='text/javascript'%3E%3C/script%3E"));
    }
    </script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>